* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'edoSz';
  src: url('../font/edosz.ttf') format('truetype');
}

h2 {
  font-family: 'edoSz';
}

body {
  background-image: url('../imgs/bg/paperTexture.png');
  background-color: rgb(95, 70, 49);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1500px;
  width: 1300px;
  margin: auto;
  padding: 20px;
  background: #f0f0f0;
}

.conimg {
  opacity: 0.2;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  border-radius: 10px;
}

.logo:hover {
  transform: scale(1);
  box-shadow: 0 0 0px;
}

.row {
  display: grid;
  gap: 30px;
  margin-bottom: 40px;
  align-items: center;
}

.section-one {
  grid-template-columns: 1fr 1.5fr;
}

.section-two {
  grid-template-columns: 1.5fr 1fr;
}

.section-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.section-one .text,
.section-one img {
  width: 100%;
  max-width: 600px;
}

.section-one img {
  justify-self: start;
}

.image {
  max-width: 600px;
  max-height: 337.5px;
}


.image-box {
  width: 100%;
  background: #ccc;
  border: 2px solid #000;
}

.large {
  height: 450px;
}

.medium {
  height: 180px;
  margin: 20px 0;
}

img {
  max-width: 600px;
  max-height: 450px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}

.Ed:hover {
  box-shadow: 0 0 30px rgba(255, 57, 57, 0.6);
}

.Alann:hover {
  box-shadow: 0 0 30px rgba(23, 3, 114, 0.6);
}

.Zael:hover {
  box-shadow: 0 0 30px rgba(239, 255, 149, 0.6);
}

.Jiiva:hover {
  box-shadow: 0 0 30px rgba(41, 148, 46, 0.6);
}

.text,
.text-block {
  line-height: 1.6;
}

button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 3px outset goldenrod;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.primary,
.primary-btn {
  background-color: #1e88e5;
  color: white;
  height: 150px;
  margin-bottom: 30px;
}

.secondary,
.secondary-btn {
  background-color: #6c757d;
  color: white;
  height: 60px;
}

button:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.primary:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 50px gold;
}

.secondary:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 50px gold;
}

.floating-buttons {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.floating-buttons button {
  width: 180px;
  padding: 14px;
}

@media (max-width: 900px) {

  .section-one,
  .section-two {
    grid-template-columns: 1fr;
  }

  .buttons,
  .floating-buttons {
    flex-direction: row;
  }
}