@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=MedievalSharp&family=Quattrocento:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quattrocento', serif;
}

@font-face {
  font-family: 'edoSz';
  src: url('../font/edosz.ttf') format('truetype');
}

h2 {
  font-family: 'edoSz';
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bodyCity {
  background: url('../imgs/bg/city.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.bodyForest {
  background: url('../imgs/bg/forestBg.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.bodyGuild {
  background: url('../imgs/bg/guildBg.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.bodyFaee {
  background: url('../imgs/bg/faeeBg.png') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.text {
  line-height: 1.6;
}

button {
  padding: 12px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 8px;
  background-color: rgba(250, 235, 215, 0);
  cursor: pointer;
  border: none;
  /*background-color: rgba(250, 235, 215, 0.753);
  border: 3px outset goldenrod;*/
  color: rgb(0, 0, 0);
}

.nav {
  background-color: antiquewhite;
  border: gold 2px outset;
  color: black;
}

.mode {
  position: absolute;
  right: 0px;
  top: 0px;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;
}

.menu button {
  width: 150px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: antiquewhite;
  transition: 0.3s;
}

.menu button:hover {
  background: white;
  transform: scale(1.05);
}

.mapbtn {
  position: absolute;
  border-radius: 8px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.575);
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.mapbtn.locked {
  filter: grayscale(100%) brightness(0.5);
  opacity: 1;
}

.mapbtn.locked:not(.navbtn) {
  pointer-events: none;
}

.label {
  font-size: 35px;
}

.mapbtn button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 70px rgb(111, 255, 236);
  background-color: rgb(111, 255, 236, 0.356);
}

.icons {
  max-width: 40px;
  max-height: 40px;
  filter:
    drop-shadow(2px 0 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(0 -2px 0 white);
}

.castle {
  top: 22%;
  right: 40%;
}

.town {
  top: 55%;
  left: 68%;
}

.guild {
  top: 75%;
  left: 45%;
}

.getOut {
  left: 50%;
  top: 1%;
}

.market {
  bottom: 29%;
  left: 10%;
}

.inn {
  bottom: 20%;
  right: 15%;
}

.port {
  bottom: 38%;
  right: 42%;
}

.garden {
  top: 38%;
  right: 25%;
}

.forest {
  top: 40%;
  right: 5%;
}

.faeforest {
  bottom: 1%;
  right: 5%;
}

.lake {
  top: 1%;
  left: 40%
}

.faee {
  top: 40%;
  right: 1%
}

.ravine {
  top: 50%;
  left: 35%;
}

.toCity {
  top: 55%;
  left: 2%;
}

.dungeon {
  top: 60%;
  right: 20%;
}

.quest {
  bottom: 2%;
  left: 38%;
}

.canteen {
  top: 45%;
  right: 10%;
}

.store {
  top: 20%;
  left: 18%;
}

.festival {
  top: 30%;
  left: 5%;
}

.stable {
  top: 25%;
  right: 34%;
}

.faeeCastle {
  top: 10%;
  left: 50%;
}

.faeeRuins {
  top: 73%;
  right: 54%;
}

.faeeMarket {
  top: 50%;
  right: 20%;
}